body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
.container {
    padding: 20px;
}

.recent-posts {
    padding: 20px;
    
}

h1 {
    color: #dfdfdf;
}

h2 {
    color: #444;
}