body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
h1, h2 {
    text-align: center;
    color: #333;
}
.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.post-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    overflow-wrap: break-word; /* Альтернативный способ */
    white-space: normal; /* Разрешаем перенос строк */
    transition: transform 0.2s;
}

.post-card:hover {
    transform: scale(1.05);
}
.post-card h2 {
    font-size: 1.5em;
    color: #333;
}
.post-card p {
    color: #555;
    line-height: 1.6;
}
.category {
    font-size: 0.9em;
    color: #888;
    margin-top: 10px;
}
.btn-create{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-go-back{
    display: inline-block;
    padding: 10px 20px;
    background-color: #6c757d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}